.btn-xl {
  width: 50px;
  height: 40px;
  font-size: 28px;
  line-height: 1;
}

table {
  vertical-align: middle !important;
}

.th-id {
  color: black;
  font-weight: bold;
}

.header-color {
  background: #3ec1d3;
  color: white;
}

.title-color {
  color: #3ec1d3;
}

.btn-delete {
  background: #ff165d;
}

.btn-edit {
  background: #ff9a00;
  color: white;
}

.btn-add {
  background: #95cd41;
  color: white;
  font-size: 26px;
}

.btn:hover {
  color: white;
}

.btn:focus {
  color: white;
}

.btn-margin {
  margin-right: 5px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}
